# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
.vsconfig

# OS
Thumbs.db
.DS_Store

# Unity crash reports
sysinfo.txt
*.stackdump

# Addressables / AssetStore
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/StreamingAssets/aa.meta
